pyrogram==2.0.106
tgcrypto
pytgcalls==0.9.10
yt-dlp>=2024.03.10
motor
pymongo
pyyaml
requests
aiohttp
aiofiles
apscheduler
beautifulsoup4
ffmpeg-python
speedtest-cli
psutil
python-dotenv
pillow
mutagen
wget
